In [361]:
import pandas as pd
data = pd.read_csv('form.csv', parse_dates=[0])

In [362]:
data.dtypes

Отметка времени                                                      datetime64[ns]
Мальчик или девочка?                                                         object
Как часто тебя били в детстве?                                               object
Оцените ваш уровень вегетарианца по 5-ти бальной шкале                        int64
Что такое два.ч?                                                             object
Твоя ориентация?                                                             object
Погулять вечером после тяжкого рабочего дня, или посычевать дома?            object
Как часто играешь в игры?                                                     int64
Сериалы?                                                                      int64
А книги?                                                                      int64
Вы таки антисемит?                                                           object
Какой предмет ближе всего по душе?                                           object
Как вы относитесь к аннексии Крыма?                                          object
Владимир Путин -                                                             object
Как хорошо вы знаете английский?                                             object
Было ли раньше лучше?                                                        object
А какие жанры фильмов любишь?                                                object
dtype: object

In [363]:
data.columns = ['time', 'sex', 'child_offence', 'vegan', 'dvach', 'gender', 'rest', 'games', 'series', 'books', 'antisemetism', 'subject', 'crimea', 'putin', 'english', 'old_days', 'films']

data.loc[data['sex'] != 'Девочка', ['sex']] = 0
data.loc[data['sex'] == 'Девочка', ['sex']] = 1

data.loc[data['rest'] != 'Сычевать', ['rest']] = 0
data.loc[data['rest'] == 'Сычевать', ['rest']] = 1

In [364]:
child_offence = pd.get_dummies(data.child_offence)
dvach = pd.get_dummies(data.dvach)
gender = pd.get_dummies(data.gender)
antisemetism = pd.get_dummies(data.antisemetism)
subject = pd.get_dummies(data.subject)
crimea = pd.get_dummies(data.crimea)
english = pd.get_dummies(data.english)


child_offence.columns = ['cf1', 'cf2', 'ch3']
dvach.columns = ['dv1', 'dv2', 'dv3', 'dv4']
gender.columns = ['gen1', 'gen2', 'gen3']
antisemetism.columns = ['asemit1', 'asemit2', 'asemit3']
subject.columns = ['subj1', 'subj2', 'subj3', 'subj4', 'subj5', 'subj6', 'subj7', 'subj8']
crimea.columns = ['cr1', 'cr2', 'cr3']
english.columns = ['eng1', 'eng2', 'eng3', 'eng4', 'eng5', 'eng6']


data = data.drop('child_offence', axis=1).join(child_offence)
data = data.drop('dvach', axis=1).join(dvach)
data = data.drop('gender', axis=1).join(gender)
data = data.drop('antisemetism', axis=1).join(antisemetism)
data = data.drop('subject', axis=1).join(subject)
data = data.drop('crimea', axis=1).join(crimea)
data = data.drop('english', axis=1).join(english)

In [365]:
data.head()

,time,sex,vegan,rest,games,series,books,putin,old_days,films,...,subj8,cr1,cr2,cr3,eng1,eng2,eng3,eng4,eng5,eng6
0,2019-09-06 23:22:11,1,2,1,1,1,3,Краб,Нет,"Детектив, Аниме, Драма, Комедия, Исторический ...",...,0,0,0,1,0,0,0,0,0,1
1,2019-09-06 23:27:43,0,2,1,3,1,2,человек,Нет,"Детектив, Трагедия, Фильм ужасов, Фантастика",...,0,1,0,0,0,0,0,0,1,0
2,2019-09-06 23:30:07,1,2,0,0,1,3,"Политик, лидер и боец",Нет,"Боевик, Детектив, Комедия, Мелодрама, Фантастика",...,0,1,0,0,0,0,0,0,1,0
3,2019-09-06 23:30:08,0,0,0,2,3,4,"Политик, лидер и боец","А колбаса какая, колбаса...","Боевик, Детектив, Аниме, Комедия, Мелодрама, И...",...,0,0,1,0,0,0,0,0,1,0
4,2019-09-06 23:31:38,0,1,1,6,4,3,"Политик, лидер и боец","А колбаса какая, колбаса...","Боевик, Детектив, Аниме, Драма, Комедия, Истор...",...,0,1,0,0,0,0,0,0,0,1

In [366]:
def putin_parse(row):
    if row.putin == 'Политик, лидер и боец':
        return pd.Series([1, 0])
    return pd.Series([0, 1])

data[['putin_good', 'rebel']] = data.apply(putin_parse, axis=1)
data.drop('putin', axis = 1, inplace=True)

In [367]:
data.head()

,time,sex,vegan,rest,games,series,books,old_days,films,cf1,...,cr2,cr3,eng1,eng2,eng3,eng4,eng5,eng6,putin_good,rebel
0,2019-09-06 23:22:11,1,2,1,1,1,3,Нет,"Детектив, Аниме, Драма, Комедия, Исторический ...",1,...,0,1,0,0,0,0,0,1,0,1
1,2019-09-06 23:27:43,0,2,1,3,1,2,Нет,"Детектив, Трагедия, Фильм ужасов, Фантастика",0,...,0,0,0,0,0,0,1,0,0,1
2,2019-09-06 23:30:07,1,2,0,0,1,3,Нет,"Боевик, Детектив, Комедия, Мелодрама, Фантастика",0,...,0,0,0,0,0,0,1,0,1,0
3,2019-09-06 23:30:08,0,0,0,2,3,4,"А колбаса какая, колбаса...","Боевик, Детектив, Аниме, Комедия, Мелодрама, И...",0,...,1,0,0,0,0,0,1,0,1,0
4,2019-09-06 23:31:38,0,1,1,6,4,3,"А колбаса какая, колбаса...","Боевик, Детектив, Аниме, Драма, Комедия, Истор...",1,...,0,0,0,0,0,0,0,1,1,0

In [368]:
# Составляем список всех доступных жанров
ganres = set()
for i, row in data.iterrows():
    for ganre in row.films.split(','):
        ganres.add(ganre.strip())
        

# Создаём колонки под фильмы        
for g in ganres:
    data[g] = 0


# Запоняем колонки
for i, row in data.iterrows():
    for ganre in row.films.split(','):
        data.loc[i, ganre.strip()] = 1

# Переименовываем колонки
data.drop('films', axis=1, inplace=True)
old_names = sorted(list(ganres))
new_names = sorted(['anine', 'triller', 'detective', 'drama', 'historical', 'comedy', 'melodrama', 'tragedy', 'fantasy', 'horror'])

for i, g in enumerate(old_names):
    data.rename(columns={g: new_names[i]}, inplace=True)

In [369]:
data.head()

,time,sex,vegan,rest,games,series,books,old_days,cf1,cf2,...,triller,fantasy,comedy,anine,detective,drama,tragedy,historical,melodrama,horror
0,2019-09-06 23:22:11,1,2,1,1,1,3,Нет,1,0,...,0,1,0,1,1,1,1,1,1,0
1,2019-09-06 23:27:43,0,2,1,3,1,2,Нет,0,1,...,1,0,0,0,1,0,1,0,1,0
2,2019-09-06 23:30:07,1,2,0,0,1,3,Нет,0,1,...,0,0,1,0,1,0,1,1,0,1
3,2019-09-06 23:30:08,0,0,0,2,3,4,"А колбаса какая, колбаса...",0,1,...,0,1,1,1,1,0,1,1,0,1
4,2019-09-06 23:31:38,0,1,1,6,4,3,"А колбаса какая, колбаса...",1,0,...,1,1,1,1,1,1,0,1,0,0

In [370]:
data.to_csv('new_table.csv')